[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

fastcommand = "*"
jinja2 = "*"
pyyaml = "*"

[dev-packages]
build = "*"

[requires]

python_version = "3"
